<article class="Contenedor">

  <main class="Tema">

    <section class="Imagen_Tema">
      <img src={{data[0].Imagen}} alt="">
    </section>

    <section class="Titulo_Tema">
      <h3> {{data[0].Titulo}}</h3>
    </section>
  </main>

  <main class="Descripcion">

    <section class="Descripcion_Figura">

      <div class="Descripcion_Figura_Info">
        <div class="Descripcion_Figura_Info_Titulo">
          {{data[1].Titulo}}
        </div>

        <div class="Descripcion_Figura_Info_Descripcion">
          {{data[1].Descripcion1}}
        </div>
      </div>

      <div class="Descripcion_Figura_Imagen">
        <img src={{data[1].Imagen}} alt="">
      </div>

    </section>

    <section class="Descripcion_Informacion">

      <div class="Descripcion_Informacion_1">
        {{data[1].Descripcion2}}
      </div>

      <div class="Descripcion_Informacion_2">
        {{data[1].Descripcion3}}
      </div>

      <div class="Descripcion_Informacion_3">
        {{data[1].Descripcion4}}
      </div>

    </section>

  </main>



</article>
