.Contenedor {
  width: 80%;
  display: grid;
  grid-template-rows: 15% 40% 40%;
  grid-template-areas:
    "Tema"
    "Descripcion"
    "Descripcion_2";
  height: 90%;
  min-height: max-content;
  overflow-y: scroll;
  overflow-x: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
    color: #0f9285;
    border: 1px solid #0f9285;
    border-radius: 10px;
margin-left: 5rem;
justify-content: center;
padding-left: 7rem;
padding-top: 2rem;
margin-bottom: 2rem;
}
img{
  border-radius: 10px;
}

.Contenedor::-webkit-scrollbar {
  display: none;
}

.Contenedor {
  display: grid;
  grid-template-rows: 15% 40% 40%;
  grid-template-areas:
    "Tema"
    "Descripcion"
    "Descripcion_2";
  height: 140vh;
}

.Tema_Titulo {
  font-size: 50px;
  display: flex;
  padding: 8% 0 0 20%;
  color: #11a68f;
}

.Tema {
  grid-area: Tema;
  display: grid;
  grid-template-columns: 20% 60%;
  grid-template-areas: "Imagen_Tema Titulo_Tema";
  height: 100%;
  padding: 2% 15%;
  
}

.Imagen_Tema {
  grid-area: Imagen_Tema;
  width: 100%;
  height: 21%;
}

.Imagen_Tema img {
  width: 100%;
  height: 100%;
}

.Titulo_Tema {
  grid-area: Titulo_Tema;
  margin: 0px;
  padding: 6% 0 0 30%;
  font-size: 150%;
  color: #11a68f;

}

.Descripcion {
  grid-area: Descripcion;
  margin: 0px;
  padding:2%;
  display: grid;
  grid-template-rows: 40% 38%;
  grid-template-areas:
    "figura"
    "informacion";
  height: 100%;
  padding: 2% 15%;
  margin-top: 1%;
}

.Descripcion_Figura {
  grid-area: figura;
  display: grid;
  grid-template-columns: 38% 30%;
  grid-template-areas: "Descripcion_Figura Imagen_Figura";
  height: 100%;
  width: 100%;
}

.Descripcion_Figura_Info {
  grid-area: Descripcion_Figura;
  display: grid;
  grid-template-rows: 50% 53%;
  grid-template-areas:
    "Descripcion_Figura_Info_Titulo"
    "Descripcion_Figura_Info_Descripcion";
  height: 100%;
  width: 100%;
  word-wrap: break-word;
}

.Descripcion_Figura_Info_Titulo {
  grid-area: Descripcion_Figura_Info_Titulo;
  padding: 3% 0 0 5%;
  min-height: 100%;
  width: 100%;
  word-wrap: break-word;
  font-size: 150%;
  color: #0f9285;
}

.Descripcion_Figura_Info_Descripcion {
  grid-area: Descripcion_Figura_Info_Descripcion;
  padding: 0 0 0 0%;
  min-height: 100%;
  width: 100%;
  word-wrap: break-word;
  font-size: 100%;
  text-align: justify;
}

.Descripcion_Figura_Imagen {
  grid-area: Imagen_Figura;
  width: 100%;
  height: 100%;
  margin-left: 10%;
}

.Descripcion_Informacion {
  grid-area: informacion;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 3%;
  grid-template-areas:
  "Descripcion_Informacion_1 Descripcion_Informacion_2 Descripcion_Informacion_3";
  height: 100%;
  width: 60%;
  padding-top: 1%;
}

.Descripcion_Figura_Imagen img {
  width: 60%;
  height: 100%;
}

.Descripcion_Informacion_1 {
  grid-area: Descripcion_Informacion_1;
  height: 100%;
  width: 100%;
  font-size: 90%;
  text-align: justify;
}

.Descripcion_Informacion_2 {
  grid-area: Descripcion_Informacion_2;
  height: 100%;
  width: 100%;
  font-size: 90%;
  text-align: justify;
}

.Descripcion_Informacion_3 {
  grid-area: Descripcion_Informacion_3;
  height: 100%;
  width: 100%;
  font-size: 90%;
  text-align: justify;
}

.Descripcion_2 {
  grid-area: Descripcion_2;
  margin: 0px;
  padding: 2%;

  display: grid;
  grid-template-rows: 40% 38%;
  grid-template-areas:
    "figura_2"
    "informacion_2";
  height: 100%;
  padding: 2% 15%;
  margin-top: -3%;
}

.Descripcion2_Figura {
  grid-area: figura_2;
  display: grid;
  grid-template-columns: 38% 30%;
  grid-template-areas: "Descripcion2_Figura Imagen2_Figura";
  height: 100%;
  width: 100%;
}

.Descripcion2_Figura_Info {
  grid-area: Descripcion2_Figura;
  display: grid;
  grid-template-rows: 50% 53%;
  grid-template-areas:
    "Descripcion2_Figura_Info_Titulo"
    "Descripcion2_Figura_Info_Descripcion";
  height: 100%;
  width: 100%;
  word-wrap: break-word;
}

.Descripcion2_Figura_Info_Titulo {
  grid-area: Descripcion2_Figura_Info_Titulo;
  padding: 3% 0 0 5%;
  min-height: 100%;
  width: 100%;
  word-wrap: break-word;
  font-size: 150%;
  color: #0f9285;
}

.Descripcion2_Figura_Info_Descripcion {
  grid-area: Descripcion2_Figura_Info_Descripcion;
  padding: 0 0 0 0%;
  min-height: 100%;
  width: 100%;
  word-wrap: break-word;
  font-size: 100%;
  text-align: justify;

}

.Descripcion2_Figura_Imagen {
  grid-area: Imagen2_Figura;
  width: 100%;
  height: 100%;
  margin-left: 10%;
}

.Descripcion2_Figura_Imagen img {
  width: 60%;
  height: 100%;
}

.Descripcion2_Informacion {
  grid-area: informacion_2;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 3%;
  grid-template-areas:
  "Descripcion2_Informacion_1 Descripcion2_Informacion_2 Descripcion2_Informacion_3";
  height: 100%;
  width: 60%;
  padding-top: 1%;
}

.Descripcion2_Informacion_1 {
  grid-area: Descripcion2_Informacion_1;
  height: 100%;
  width: 100%;
  font-size: 90%;
  text-align: justify;
}

.Descripcion2_Informacion_2 {
  grid-area: Descripcion2_Informacion_2;
  height: 100%;
  width: 100%;
  font-size: 90%;
  text-align: justify;
}

.Descripcion2_Informacion_3 {
  grid-area: Descripcion2_Informacion_3;
  height: 100%;
  width: 100%;
  font-size: 90%;
  text-align: justify;
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
  .Titulo_Tema {
    padding: 20% 0 0 10%;
    font-size: 90%;
  }

  .Imagen_Tema {
    height: 15%;
  }
  .Contenedor{
    padding: 0;
    margin: 1rem;
    width: 90%;
    padding-top: 1rem;
  }

  .Descripcion_Figura_Info_Titulo,
  .Descripcion2_Figura_Info_Titulo{
    font-size: 80%;
    
  }

  .Descripcion_Figura_Info_Descripcion,
  .Descripcion2_Figura_Info_Descripcion{
    font-size: 70%;
    margin-top: -10%;
  }

  .Descripcion_Figura,
  .Descripcion2_Figura {
    grid-template-columns: 38% 30%;
  }

  .Descripcion_Figura_Info,
  .Descripcion2_Figura_Info {
    grid-template-rows: 50% 53%;
  }

  .Descripcion_Figura_Imagen img,
  .Descripcion2_Figura_Imagen img{
    width: 100%;
  }

  .Descripcion_Informacion_1,
  .Descripcion2_Informacion_1{
    font-size: 70%;
  }

  .Descripcion_Informacion_2,
  .Descripcion2_Informacion_2{
    font-size: 70%;
  }

  .Descripcion_Informacion_3,
  .Descripcion2_Informacion_3{
    font-size: 70%;
  }

  .Descripcion,
  .Descripcion_2 {
    height: 100%;
    margin-top: -5%;
  }

  .Descripcion_2 {
    margin-top: -20%;
  }

}

@media only screen and (min-width: 400px) and (max-width: 499px) {
  .Titulo_Tema {
    padding: 20% 0 0 5%;
    font-size: 90%;
  }

  .Imagen_Tema {
    height: 15%;
  }

  .Descripcion_Figura_Info_Titulo,
  .Descripcion2_Figura_Info_Titulo{
    font-size: 80%;
  }

  .Descripcion_Figura_Info_Descripcion,
  .Descripcion2_Figura_Info_Descripcion{
    font-size: 70%;
    margin-top: -10%;
  }

  .Descripcion_Figura,
  .Descripcion2_Figura {
    grid-template-columns: 38% 30%;
  }

  .Descripcion_Figura_Info,
  .Descripcion2_Figura_Info {
    grid-template-rows: 50% 53%;
  }

  .Descripcion_Figura_Imagen img,
  .Descripcion2_Figura_Imagen img{
    width: 100%;
  }

  .Descripcion_Informacion_1,
  .Descripcion2_Informacion_1{
    font-size: 70%;
  }

  .Descripcion_Informacion_2,
  .Descripcion2_Informacion_2{
    font-size: 70%;
  }

  .Descripcion_Informacion_3,
  .Descripcion2_Informacion_3{
    font-size: 70%;
  }

  .Descripcion,
  .Descripcion_2 {
    height: 100%;
    margin-top: -5%;
  }

  .Descripcion_2 {
    margin-top: -30%;
  }

}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  .Titulo_Tema {
    padding: 20% 0 0 5%;
    font-size: 90%;
  }

  .Descripcion,
  .Descripcion_2 {
    height: 100%;
    margin-top: 7%;
  }

  .Descripcion_2 {
    margin-top: -15%;
  }

  .Contenedor{
    grid-template-rows: 15% 40% 40%;
    height: 100vh;
    padding: 0;
  }

  .Descripcion_Figura_Info_Titulo,
  .Descripcion2_Figura_Info_Titulo{
    font-size: 80%;
  }

  .Descripcion_Figura_Info_Descripcion,
  .Descripcion2_Figura_Info_Descripcion{
    font-size: 70%;
    margin-top: -10%;
  }

  .Descripcion_Figura,
  .Descripcion2_Figura {
    grid-template-columns: 38% 30%;

  }

  .Descripcion_Figura_Info,
  .Descripcion2_Figura_Info {
    grid-template-rows: 50% 53%;
  }

  .Descripcion_Figura_Imagen img,
  .Descripcion2_Figura_Imagen img{
    width: 100%;
  }

  .Descripcion_Informacion_1,
  .Descripcion2_Informacion_1{
    font-size: 70%;
  }

  .Descripcion_Informacion_2,
  .Descripcion2_Informacion_2{
    font-size: 70%;
  }

  .Descripcion_Informacion_3,
  .Descripcion2_Informacion_3{
    font-size: 70%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .Titulo_Tema {
    padding: 20% 0 0 5%;
    font-size: 90%;
  }

  .Descripcion,
  .Descripcion_2 {
    height: 100%;
    margin-top: 7%;
  }

  .Contenedor{
    padding: 0;
    margin: 2.3rem;
    width: 90%;
    padding-top: 1rem;
  }
  .Descripcion_2 {
    margin-top: -15%;
  }

  .Contenedor{
    grid-template-rows: 15% 40% 40%;
    height: 100vh;
  }

  .Descripcion_Figura_Info_Titulo,
  .Descripcion2_Figura_Info_Titulo{
    font-size: 80%;
  }

  .Descripcion_Figura_Info_Descripcion,
  .Descripcion2_Figura_Info_Descripcion{
    font-size: 70%;
    margin-top: -10%;
  }

  .Descripcion_Figura,
  .Descripcion2_Figura {
    grid-template-columns: 38% 30%;
  }

  .Descripcion_Figura_Info,
  .Descripcion2_Figura_Info {
    grid-template-rows: 50% 53%;
  }

  .Descripcion_Figura_Imagen img,
  .Descripcion2_Figura_Imagen img{
    width: 100%;
  }

  .Descripcion_Informacion_1,
  .Descripcion2_Informacion_1{
    font-size: 70%;
  }

  .Descripcion_Informacion_2,
  .Descripcion2_Informacion_2{
    font-size: 70%;
  }

  .Descripcion_Informacion_3,
  .Descripcion2_Informacion_3{
    font-size: 70%;
  }

}

@media only screen and (min-width: 801px) and (max-width: 899px) {
  .Titulo_Tema {
    padding: 20% 0 0 5%;
    font-size: 90%;
  }

  .Descripcion,
  .Descripcion_2 {
    height: 100%;
  }

  .Descripcion,
  .Descripcion_2 {
    height: 75%;
    margin-top: 7%;
  }

  .Descripcion_2 {
    margin-top: -15%;
  }

  .Contenedor{
    grid-template-rows: 15% 40% 40%;
    height: 100vh;
  }

  .Descripcion_Figura_Info_Titulo,
  .Descripcion2_Figura_Info_Titulo{
    font-size: 80%;
  }

  .Descripcion_Figura_Info_Descripcion,
  .Descripcion2_Figura_Info_Descripcion{
    font-size: 90%;
  }

  .Descripcion_Figura,
  .Descripcion2_Figura {
    grid-template-columns: 38% 30%;
  }

  .Descripcion_Figura_Info,
  .Descripcion2_Figura_Info {
    grid-template-rows: 50% 53%;
  }

  .Descripcion_Figura_Imagen img,
  .Descripcion2_Figura_Imagen img{
    width: 100%;
  }

  .Descripcion_Informacion_1,
  .Descripcion2_Informacion_1{
    font-size: 70%;
  }

  .Descripcion_Informacion_2,
  .Descripcion2_Informacion_2{
    font-size: 70%;
  }

  .Descripcion_Informacion_3,
  .Descripcion2_Informacion_3{
    font-size: 70%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 999px) {
  .Titulo_Tema {
    padding: 15% 0 0 5%;
    font-size: 110%;
  }

  .Descripcion,
  .Descripcion_2 {
    height: 70%;
  }

  .Descripcion,
  .Descripcion_2 {
    height: 75%;
    margin-top: 7%;
  }

  .Descripcion_2 {
    margin-top: -20%;
  }

  .Contenedor{
    grid-template-rows: 15% 40% 40%;
    height: 100vh;
  }

  .Descripcion_Figura_Info_Titulo,
  .Descripcion2_Figura_Info_Titulo{
    font-size: 110%;
  }

  .Descripcion_Figura_Info_Descripcion,
  .Descripcion2_Figura_Info_Descripcion{
    font-size: 110%;
  }

  .Descripcion_Figura,
  .Descripcion2_Figura {
    grid-template-columns: 38% 30%;
  }

  .Descripcion_Figura_Info,
  .Descripcion2_Figura_Info {
    grid-template-rows: 50% 53%;
  }

  .Descripcion_Figura_Imagen img,
  .Descripcion2_Figura_Imagen img{
    width: 100%;
  }

  .Descripcion_Informacion_1,
  .Descripcion2_Informacion_1{
    font-size: 70%;
  }

  .Descripcion_Informacion_2,
  .Descripcion2_Informacion_2{
    font-size: 70%;
  }

  .Descripcion_Informacion_3,
  .Descripcion2_Informacion_3{
    font-size: 70%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {

}
