<nav class="navbar">
  <div class="navbar-toggler-wrapper">
    <button>
      <input (click)="toggleNavbar()" id="abrir-cerrar" name="abrir-cerrar" type="checkbox" value="" />
      <label for="abrir-cerrar" class="toggle-button"></label>
    </button>
  </div>
</nav>

<div class="sidebar" [ngClass]="{'active': isSidebarOpen}">
  <ul style="overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none;;">
    <li><a class="home" href="#">Home</a></li>
    <li><a class="subtitulo" href="tema1">Bisquerra</a></li>
    <li><a href="Conciencia emocional">Conciencia Emocional</a></li>
    <li><a href="Regulación emocional">Regulación Emocional</a></li>
    <li><a href="Autonomía emocional.">Autonomía Emocional</a></li>
    <li><a href="Competencias social">Competencia Social</a></li>
    <li><a href="Habilidades para la vida y el bienestar">Habilidades para la Vida y el Bienestar</a></li>
    <li><a  class="subtitulo" href="tema2">Prácticas Concretas:</a></li>
    <li><a href="Conciencia emocional.">Conciencia Emocional</a></li>
    <li><a href="Regulación emocional.">Regulación Emocional</a></li>
    <li><a href="Autonomía emocional.">Autonomía Emocional</a></li>
    <li><a href="Competencias social.">Competencia Social</a></li>
    <li><a href="Habilidades para la vida y el bienestar.">Habilidades para la Vida y el Bienestar</a></li>
  </ul>
</div>
