<nav class="navegador">
  <section class="nombre_logo">
    <img src="../../assets/img/Icono.png" alt="Logo" class="logo">

    <h1 class="nombre"> Competencias Emocionales </h1>
  </section>

  <section class="rutas_navegacion">

    <a [routerLink]="['/home']" routerLinkActive="active" [ngClass]="{'underline': isInicioRouteActive()}"> Inicio </a>
    <a [routerLink]="['/Tema1']" routerLinkActive="active" [ngClass]="{'underline': isTema1RouteActive()}"> Competencias </a>
    <a [routerLink]="['/Tema2']" routerLinkActive="active" [ngClass]="{'underline': isTema2RouteActive()}"> Prácticas </a>

  </section>

</nav>
