.recuadro {
    border: 1px solid #01A09B;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    max-width: 80vw;
    height: 50vh;
    margin: 6vh auto;
    border-radius: 8px;
    background-color: transparent;
}

.contenido {
    flex: 1;
    margin-right: 0px;
    margin-left: 10px;
}

.contenido h2 {
    margin-top: 0;
    font-size: 24px;
    color: #01A09B;
    height: 4rem;
    text-align: justify;
    width: 95%;
}

.descripcion {
    margin: 10px 0;
    font-size: 16px;
    color: #01A09B;
    height: auto;
    text-align: justify;
    width: 95%;
}

.conclusion {
    font-size: 16px;
    color: #01A09B;
    height: auto;
    width: 95%;
    text-align: justify;

}

.imagen {
    flex: 0 0 50vh;
    height: auto;
}

.imagen img {
    max-width: 95%;
    height: auto;
    border-radius: 5px;
}


@media only screen and (min-width: 300px) and (max-width: 499px) {
    .recuadro {
        flex-direction: column;
        height: 81vh;
        width: auto;
        margin: 2vh 3vw;
    }

    .contenido {
        margin: 0;
        width: 100%;
        min-height: 45vh;
        overflow: scroll;     

    }
    .conclusion {
    min-height: auto;
    }
 
    .contenido h2{
        height: auto;
    }
    .imagen img {
        max-width: 74%;
        border-radius: 5px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .recuadro {
        flex-direction: column;
        height: auto;
        width: 76vw;
        margin: 3vh 7vw;

    }

    .contenido {
        margin: 0;
        justify-content: center;
        width: 100%;
    }
    .imagen{
        width: 100%;
        ;
    }
    .imagen img{
        max-width: 80%;
        height: auto;
        border-radius: 5px;
        margin-top: 20px;
    }
}
