body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas: "menu" "contenido";
}

.menu_navegacion {
  grid-area: menu;
  height: 10%;
  border-bottom: 5px solid #000000;

}

@media only screen and (min-width: 1000px) and (max-width: 1500px) {
  .menu_navegacion {
    height: 14%;
    border-bottom: 5px solid #000000;
  }
}

@media only screen and (min-width: 401px) and (max-width: 599px) {
  .menu_navegacion {
    height: 10%;
    border-bottom: 5px solid #000000;
  }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
  .menu_navegacion {
    height: 10%;
    border-bottom: 5px solid #000000;
  }
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
  .menu_navegacion {
    border-bottom: 5px solid #000000;
    height: 17%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
  .menu_navegacion {
    height: 10%;
    border-bottom: 5px solid #000000;
  }
}


.contenido {
  grid-area: contenido;
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}
